/* General Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: linear-gradient(to bottom, rgb(51, 233, 163), rgb(83, 183, 223));
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

.App {
  height: 100vh;
}

/* StartingScreen Styling */

.starting-screen-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.quiz-title-container {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.quiz-description-container {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.quiz-description-container p {
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.description-container {
  display: inline-block;
}

.start-button-container {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startBtn {
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(15, 216, 156), rgb(40, 213, 219));
  border: 1px solid rgb(15, 216, 156);
}

.startBtn:hover {
  transform: scale(1.1);
}

/* Animations */

.typing {
  display: inline-block;
  border-right: 5px solid; /* The blinking caret */
  white-space: nowrap;
  overflow: hidden;
  width: 0; /* Start with zero width */
  animation: typing 4s steps(40, end) forwards,
    cursor 0.4s step-end infinite alternate;
  animation-fill-mode: forwards;
}

.hidden {
  display: inline-block;
  width: 0; /* Ensure hidden text starts at width 0 */
  border-right: 5px solid transparent; /* Hide caret initially */
  white-space: nowrap;
  overflow: hidden;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0; /* Start with zero width */
  }
  to {
    width: 100%; /* Expand to 100% width */
  }
}
