/* General Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: linear-gradient(to bottom, rgb(51, 233, 163), rgb(83, 183, 223));
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

.App {
  height: 100vh;
}

/* StartingScreen Component Styling */

.starting-screen-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.quiz-title-container {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.quiz-description-container {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.quiz-description-container p {
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-weight: 500;
}

.description-container {
  display: inline-block;
}

.start-button-container {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startBtn {
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(15, 216, 156), rgb(40, 213, 219));
  border: 1px solid rgb(15, 216, 156);
}

.startBtn:hover {
  transform: scale(1.1);
}

/* Animations */

.typing {
  display: inline-block;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(40, end) forwards,
    cursor 0.4s step-end infinite alternate;
  animation-fill-mode: forwards;
}

.hidden {
  display: inline-block;
  width: 0;
  border-right: 5px solid transparent;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Challenge1 Component styling */

.challenge-container {
  height: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid blue;
}

.challenge-container h2 {
  font-size: 2rem;
}

.challenge1-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.challenge1-quiz h3 {
  font-size: 1.5rem;
}

.challenge1-quiz span {
  border-radius: 30px;
  padding: 10px;
  width: 400px;
  text-align: center;
  border: 1px solid brown;
}

.challenge1-quiz span:hover {
  cursor: pointer;
}

/* Progress Component Styling */

.progress-bar {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 40%;
}

progress {
  width: 100%;
  height: 30px;
}

.score {
  display: flex;
  justify-content: space-between;
}

.score span {
  font-size: 1.3rem;
  font-style: italic;
}
